@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background-color: #393939;
    color: #456;
}

a {
    
    color: #2467af;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    margin-bottom: 1em;
}

h1 {
    padding: 2em 0 1em 0;
}

h2 {
    padding-top: 1em;
    margin-bottom: 1em;
}

h3 {
    padding-top: 1em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

/* Header */

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5em;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.header-wrap a {
    color: #456;
    text-decoration: none;
}

/* Logo */

.site-logo {
    font-size: 2em;
    font-weight: bold;
}

.site-logo:hover {
    text-decoration: none;
}

/* Navbar */

.site-navbar {
    min-width: 40%;
}

.site-navbar ul {
    display: flex;
    justify-content: space-evenly;
}

.site-navbar a:hover {
    text-decoration: underline;
}

/* Main */

.no-sidebar-main,
.sidebar-main {
    min-height: 50vh;
    background-color: #fff;
}

.sidebar-main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
}

.sidebar-main .site-main {
    max-width: 900px;
    justify-content: center;
    margin: 0 auto;
}

.no-sidebar-main .site-main {
    max-width: 900px;
    margin: 0 auto;
}

.site-main {
    padding: 0 1em 5em 1em;
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;

    padding: 2em;
    background-color: #f2f6f9;
}

.sidebar a {
    text-decoration: none;
    color: #456;
}

.sidebar a:hover {
    text-decoration: underline;
}

.sidebar h3 {
    margin-bottom: 1em;
}

.sidebar ul li {
    margin-bottom: .5em;
}

/* Footer */

.site-footer {
    display: flex;
    justify-content: space-between;

    padding: 1.5em;
    border-top: 1px solid #ccc;
    color: #fff;
}

.site-footer a {
    color: #fff;
}


/* Pages */

.home,
.about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-gap: 2em;
}

.home img {
    max-width: 250px;
    border-radius: 50%;
}

.about img {
    max-width: 100%;
}
